@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin:0 auto;
  padding: 0;
}

body,
html {
  height:100%;
  font-family:'Dosis', sans-serif;
}

.calculator-section {
  min-height:100vh;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#e9ebe0;
}

.container {
  max-width:400px;
  width:100%;
  height:500px;
  border-radius:24px;
  background-color:#f1f1f1;
  overflow:hidden;
  box-shadow:9px 9px 14px #c9c9c3;
}

#result {
  height:80px;
  width:100%;
  text-align:right;
  padding:20px;
  font-size:40px;
  position:relative;
  background-color:rgb(203, 174, 156);
  color:#fff;
  transition: color .6s ease-in-out;
}

.buttons {
  color:#000;
  display:grid;
  grid-template:repeat(4,minmax(67px,1fr)) / repeat(4, minmax(50px, 1fr));
  gap: 0.7rem;
  place-items:center;
  transform:translateY(1rem);
}

#zero {
  grid-column:1/3;
  width:80%;
}

button {
  height:60px;
  width:60px;
  font-size:24px;
  border-radius:20px;
  box-shadow:5px 5px 15px #d2d2d2;
  border:none;
  transition:400ms;
  float:left;
  cursor:pointer;
}

button:hover {
  background-color:#d4d4d4;
  color:#fff;
}


